@charset "UTF-8";

@import
   url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
   ;

.login-block {
   background: #ccea57; /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #004000, #ccea57);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #004000, #ccea57);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   float: left;
   width: 100%;
   padding: 50px 0;
}
.container {
   padding: 0 50px 0 50px;
   background: #fff;
   border-radius: 50px;
   box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.login-sec {
   padding: 50px 30px;
   position: relative;
}

.login-sec .copy-text {
   position: absolute;
   width: 80%;
   bottom: 20px;
   font-size: 13px;
   text-align: center;
}

.login-sec .copy-text i {
   color: #80ff00;
}

.login-sec .copy-text a {
   color: #80ff80;
}

.login-sec h2 {
   margin-bottom: 30px;
   font-weight: 800;
   font-size: 30px;
   color: #326811;
}

.login-sec h2:after {
   content: " ";
   width: 100px;
   height: 5px;
   background: #008080;
   display: block;
   margin-top: 20px;
   border-radius: 3px;
   margin-left: auto;
   margin-right: auto
}

.btn-login {
   background: #80ff00;
   color: #fff;
   font-weight: 600;
}