@charset "UTF-8";

.sv-data-1 {
   background: lightCyan;
   padding: 0;
}

.sv-data-2 {
   background: lightPink;
   height: 40px;
   white-space: nowrap;
}

.sv-data-3 {
   background: LightGoldenRodYellow;
   height: 40px;
   white-space: nowrap;
}

.sv-data-4 {
   background: LightSteelBlue;
}

table.sv-data-table {
   table-layout: fixed;
}

table.sv-data-table tbody tr {
   font-size: 13px;
   padding: 0;
}

table.sv-data-table tbody tr td {
   height: 36px;
}

table.sv-data-table .td-data-item-1 {
   padding: 0;
   text-align: center;
   vertical-align: middle;
}

table.sv-data-table .td-data-item-2 {
   padding: 0;
   text-align: center;
   vertical-align: middle;
   whitespace: no-wrap;
}

table.sv-data-table .td-data-item-3 {
   padding: 0;
   text-align: center;
   vertical-align: middle;
}

table.sv-data-table .td-data-item-4 {
   padding: 0;
   text-align: right;
   vertical-align: middle;
}

table.sv-data-table input[type=number] {
   border: solid 1px #ccc;
   max-width: 50px;
}

.edit-parameters {
   margin: 3px;
}

table.sv-data-table .card {
   
}

.parameters-container .row {
   
}

.parameter-pg-col {
   background: lightBlue;
   margin: 0;
   padding: 0;
}

@media ( max-width : 872px) {
   table.sv-data-table {
      
   }
   div.parameter-pg-col {
      min-width: 100% !important;
      padding: 0;
   }
   .card {
      display: block;
      margin: 10px auto !important;
      min-width: 100% !important;
   }
}

@media ( min-width : 872px) {
   .parameters-container {
      background: lightPink;
      margin: 0 auto;
      max-width: 840px;
      padding: 10px;
   }
   .card {
      width: 195px;
   }
}

.horizontal-tabs {
   font-size: 14px;
   padding: 10px;
   color: #008000
}

.horizontal-tabs .sv-tab-panel {
   background: #fff;
   height: 145px;
   padding-top: 10px;
}

.horizontal-tabs .nav-tabs .nav-link {
   background: #4CAF50;
   border: 1px solid transparent;
   color: #fff
}

.horizontal-tabs .nav-tabs .nav-link.active {
   background-color: #009900 !important;
   border-color: transparent !important;
   color: #fff;
}
.horizontal-tabs .nav-tabs .nav-item{
   width: 20%;
   align-content: center;
}

.horizontal-tabs .nav-tabs .nav-link {
   border: 1px solid transparent;
   border-top-left-radius: 0rem !important;
   border-top-right-radius: 0rem !important;
}

.horizontal-tabs .tab-content>.active {
   background: #fff;
   display: block;
}

.horizontal-tabs .nav.nav-tabs {
   border-bottom: 0;
   border-right: 1px solid transparent;
   background: #33ad33
}

.horizontal-tabs  div.tab-content {
   border: solid 1px #4CAF50 !important;
   max-height: 150px;
}

.horizontal-tabs  .sv-tab-panel {
   background: #fff;
   height: 130px;
   padding-top: 10px;
}

.horizontal-tabs  div#a-h.tab-pane .sv-tab-panel {
   background: #a6dba6
}

.horizontal-tabs  div#b-h.tab-pane .sv-tab-panel {
   background: #99d699;
}

.horizontal-tabs  div#c-h.tab-pane .sv-tab-panel {
   background: #8cd18c
}

.horizontal-tabs  div#d-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#e-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#f-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#g-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#h-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#i-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#j-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#k-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#l-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs  div#m-h.tab-pane .sv-tab-panel {
   background: #80cc80
}

.horizontal-tabs .sv-tab-panel {
   padding: 10px
}

@media ( max-width : 967px) {
   .nav.nav-tabs {
      border-bottom: 0;
      border-right: 1px solid transparent;
      display: block;
      margin-right: 20px;
      width: 100% !important
   }
   .horizontal-tabs .nav-tabs {
      width: 100%;
      padding: 0
   }
}

li{
	list-style:none;
}